.contact-modal {
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--c-gray);
    box-shadow: var(--shadow);
    max-width: 420px;

    &__header {
        padding: 1rem 0;
    }

    &__title {
        color: var(--c-black);
    }
}