.--writingor-modal {
    position: relative;
    z-index: -1;
    box-sizing: border-box;
    display: none;
    width: 100%;
    max-width: 660px;
    height: fit-content;
    padding: 30px 20px 20px;
    background: white;
    box-shadow: 0 0 16px rgba(#285697, .2);
    overflow: hidden;
    margin: auto;
    transform: translate(0, 150vh);

    &._anim-v2 {
        transform: translate(0, -150vh);
    }

    &_active {
        display: block;
        z-index: 1000;
        animation: show-modal 400ms ease-out 0ms 1 forwards;
    }

    &_collapsed {
        display: block;
        z-index: 1000;
        animation: hide-modal 250ms ease-in 0ms 1;

        &._anim-v2 {
            animation: hide-modal-2 250ms ease-in 0ms 1;
        }
    }

    &__hide {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 100;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
    
        &::after,
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 28px;
            height: 1px;
            background-color: rgba(#485161, .5);
        }
    
        &::before {
            transform: rotate(-45deg);
        }
        
        &::after {
            transform: rotate(45deg);
        }
    }
}

.--writingor-body-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px 20px;
    background: rgba(#000000, 0);
    backdrop-filter: blur(0px);
    overflow-y: auto;
    scrollbar-width: none;

    @media screen and (max-width: 1000px) {
        padding: 75px 25px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &_active {
        display: flex;
        animation: show-overlay 400ms ease-out 0ms 1 forwards;
    }
}

.--writingor-body {
    // pass

    &_locked {
        overflow: hidden;
        padding-right: var(--sbw);

        .header__row {
            padding-right: var(--sbw);
        }
    }
}

.--writingor-modals-heap {
    box-sizing: border-box;
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}

@keyframes show-modal {
    100% {
        transform: translate(0, 0);
    }
}

@keyframes hide-modal {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 150vh);
    }
}

@keyframes hide-modal-2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, -150vh);
    }
}

@keyframes show-overlay {
    100% {
        background: rgba(#000000, .2);
        backdrop-filter: blur(0);
    }
}