.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    width: 46px;
    height: 46px;
    background-color: var(--primary-color-light);
    outline: none;
    // border: 1px solid var(--white-color);
    border: none;
    border-radius: 50%;
    box-shadow: 2px 6px 16px var(--primary-color-dark), -2px -3px 8px var(--primary-color-light-2);

    span {
        display: block;
        width: 22px;
        height: 2px;
        background-color: var(--white-color);
        transition: var(--transition);
    }

    @media (hover: hover) {
        &:hover {
            span {
                background-color: var(--primary-color-2);
            }
        }
    }
}